/**
 * Administrative Debug Messages
 */
div.messages.status .krumo-root {
	color: black;
}
div.messages.status a.krumo-name {
	color: purple;
}
/**
 * Events
 */
#sidebar-first .view .date-nav-wrapper .date-heading h3 {
	font-size: 1.2em;
	line-height: 1.3em;
	padding-top: 0.4em;
}
#sidebar-first .view .date-nav-wrapper ul.pager li {
  margin: 0px;
  padding: 0px;
  background-image: none;
}
#sidebar-first .view .date-nav-wrapper ul.pager li.date-prev a {
	margin-right: 0.6em;
}
#sidebar-first .view .date-nav-wrapper ul.pager li.date-next a {
	margin-left: 0.6em;
}
/* Header */
#header {
	border-top: 4px solid #51a9e7;
}
#header-inside {
	padding: 0 !important;
	background: url("/sites/all/modules/custom/mcircc/images/hd-bg.png") no-repeat scroll right top transparent !important;
}
#header-inside-left {
	margin: 29px 0 15px;
}
#header ul.menu {
	display: block;
	background-color: #51a9e7;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	float: right;
	padding: 0 0.8em 0.2em;
	margin-top: -3px;
	height: 22px;
}
#header ul.menu li {
	display: inline-block;
	text-transform: uppercase;
	font-size: .75em;
	letter-spacing: .05em;
}
#header ul.menu li.first.leaf a {
	border-right: 1px solid #fff;
	padding-right: 1.5em;
}
#header ul.menu li a {
	color: #fff;
}
#header ul.menu li a:hover {
	color: #00274c;
}
#header #block-search-form {
	clear: both;
	border-radius: 8px;
	height: 30px;
}
#header #block-search-form input.form-submit {
	padding-top: 4px;
	background:none !important;
}
#header #block-search-form input.form-text {
	padding-top: 8px;
}
#header-menu ul.menu li a, #header-menu ul.menu li.expanded a {
	padding-top: 7px !important;
	padding-bottom: 5px !important;
	font-size: 12px !important;
}
#header-menu ul.menu li a:hover, #header-menu ul.menu li.expanded a:hover {
	color: #51a9e7 !important;
}
#header-menu ul.menu li.leaf.active-trail a.active-trail.active, #header-menu ul.menu li.expanded.active-trail a.active-trail {
	color: #fff !important;
	background-color: #51a9e7 !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}
#header-menu ul.menu li.expanded.active-trail a.active-trail {
	background: url("/sites/all/modules/custom/mcircc/images/menu-expanded-white.png") no-repeat scroll right center transparent;
	padding-right: 25px !important;
}
#header-menu ul.menu li.expanded.active-trail ul.menu li.first.leaf.active-trail a.active-trail.active, #header-menu ul.menu li.expanded.active-trail ul.menu li.last.leaf.active-trail a.active-trail.active, #header-menu ul.menu li.expanded.active-trail ul.menu li.leaf a {
	background-image: none;
}
#header-menu ul.menu li.expanded ul.menu li a:hover {
	color: #51a9e7 !important;
}

#header-menu ul.menu li ul li a:hover, #header-menu ul.menu li.expanded ul li a:hover {
	color: #fff !important;
}
#header-menu {
	border-bottom: 0px !important;
}
/* Main */
body.html.front.not-logged-in #main h1 {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#content-inside {
/*	background: -moz-linear-gradient(center top, #fff 0%, #efefef 100%) repeat scroll 0 0 #fff;
*/
	padding-top:20px !important;
	background: url("/sites/all/modules/custom/mcircc/images/main-bg.png") no-repeat scroll 200px 0 #ffffff;
	background-color:#ffffff;
	padding-bottom:0px !important;
}
#main {
	border-left:1px solid #ececec;
	padding-left:20px;
	margin-top:5px;
	background: url("/sites/all/modules/custom/mcircc/images/VIPbadge-top.png") no-repeat 461px bottom !important;
	padding-bottom:90px !important;
	min-height:575px;
}
body.no-sidebars #main {
	background: url("/sites/all/modules/custom/mcircc/images/VIPbadge-top.png") no-repeat 750px bottom !important;
	padding-bottom:90px !important;
	border-left:0px solid #ececec;
	padding-left:0px;
	margin-top:0px;
}
.breadcrumb {
	font-size: .8em;
	color: #9f9f9f;
	text-transform: uppercase;
    border-bottom: 1px dotted #e7e7e7;
    border-top: 1px dotted #e7e7e7;
    margin-bottom: 20px;
    padding: 2px 10px 0 1em !important;
}
/*
.breadcrumb {
	font-size: .8em;
	color: #00274c;
	text-transform: uppercase;
	padding-bottom:15px !important;
	margin-left: -320px;
}
*/
.breadcrumb a {
	color: #00274c;
}
.breadcrumb a:hover {
	color: #51a9e7;
}
h1, h2, h3, h4, h5, h6, .links ul li a, a.more, #comments ul.links li a, input[type="submit"], input[type="reset"], input[type="button"] {
	text-shadow: none !important;
}
h1 {
	color: #00274c !important;
	font-weight: normal;
}
h2, h2 a {
	font-size:19px;
	color: #51a9e7;
	margin-bottom: 4px !important;
	line-height:1.
}
h2 a:hover, h3 a:hover {
	color: #00274c;
}
h3 {
	color: #51a9e7 !important;
	margin-bottom: 4px !important;
	font-weight:normal !important;
}
h3 a {
	color: #51a9e7;
}
hr {
	border-bottom: 1px solid #cccccc;
	border-top:0;
	border-right:0;
	border-left:0;
	margin:10px 0;
}
h4 {
	font-size:115% !important;
	margin-bottom: 4px !important;
	margin-top: 8px !important;
	text-transform:uppercase;
}
h5 {
	font-size:130%;
	color: #51a9e7 !important;
	margin-top: 8px !important;
	margin-bottom: 4px !important;
	font-weight:normal !important;
}
h6 {
	font-size:115%;
	color: #666666 !important;
	margin-top: 8px !important;
	margin-bottom: 4px !important;
	text-transform:uppercase;
	font-weight:normal !important;
}
pre {
	white-space:normal !important;
}
body.page-dashboard h1, #footer-bottom-left.grid_8 div.region.region-footer div#block-block-1.block.block-block.contextual-links-region h2, #mcircc_dashboard .contextual-links-region.panel-pane.pane-block.pane-quicktabs-dashboard-news h2, #mcircc_dashboard .panel-pane.pane-block.pane-quicktabs-dashboard-news h2 {
	display:none;
}
h2.pane-title {
	color: #51a9e7;
}
.marker {
    background-color: #ffcb05;
    color: #fff;
    float: left;
    font-size: 0.8em;
    line-height: 1em;
    margin-right: 8px;
    margin-top: 3px;
    padding: 2px 6px;
    text-transform: uppercase;
	border-radius: 8px;
}
a:hover {
	color:#51a9e7;
}
.links ul li a, a.more, #comments ul.links li a, input[type="submit"], input[type="reset"], input[type="button"] {
	background: #51a9e7 !important;
    box-shadow: none !important;
    color: #fefefe;
    text-shadow: none !important;
	border-radius:8px !important;
	padding:3px 6px !important;
	opacity:1;
	font-weight:normal !important;
	font-size:.9em !important;
}
input.form-submit, a.button {
/*    background: url("/sites/all/modules/custom/mcircc/images/buttons.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0) !important;
*/
	background: #51a9e7 !important;
	border-color: #51a9e7 !important;
	color:#ffffff !important;
}
.links ul li a:hover, a.more:hover, #comments ul.links li a:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	opacity:.8;
}
input.form-text, .form-textarea-wrapper textarea {
/*    box-shadow: none !important;
*/
	font-size:.9em !important;
	color:#888 !important;
}
.form-item, .form-actions {
	margin-bottom:.2em;
}
#user-profile-form.overlay-processed div div#edit-actions.form-actions.form-wrapper {
	text-align:right;
}
div.vertical-tabs ul li.selected a, div.vertical-tabs ul li.selected a:hover, div.vertical-tabs ul li.selected a:focus, div.vertical-tabs ul li.selected a:active {
	background: #51a9e7 !important;
}
div.vertical-tabs ul li.vertical-tab-button.selected a {
	color:#ffffff !important;
}
ul.tabs.secondary li.active a.active {
	color:#51a9e7 !important;
	font-weight:bold;
	border-bottom:0;
	/*
	background-color:#51a9e7 !important;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	*/
}
div.view-filters select#edit-type.form-select {
	min-width:150px;
}
body.page-files input#edit-title.form-text.form-autocomplete {
	height:15px;
	padding:6px;
	border-radius:8px;
}
body.page-files input.form-autocomplete {
	background-position: 98% center !important;
}
/* Footer */
#footer {
	background: url('/sites/all/modules/custom/mcircc/images/footer-tile.jpg') repeat-x 0 bottom #00274c !important;
	color:#ececec;
	padding-top:0 !important;
	padding-bottom:20px !important;
}
#footer-inside {
	background: url('/sites/all/modules/custom/mcircc/images/VIPbadge-bottom.png') no-repeat 770px top !important;
	padding-top:30px;
}
#footer-bottom h2 {
	display:none !important;
}
#footer h2 {
	margin-bottom:5px;
	margin-top:15px;
	line-height:1.2em;
	color:#ffcb05;
	font-size:1.2em;
	text-transform:uppercase;
	letter-spacing:.1em;
}
#footer .content {
	padding-right:25px;
}
#footer .region.region-footer-first p {
	opacity:.6;
}
#footer .node.node-teaser {
	margin-bottom:0;
}
#footer .region.region-footer-third .form-item {
	margin-top:0;
}
#footer .region.region-footer-third .webform-container-inline label {
	font-size:.9em;
	text-transform:uppercase;
}
#footer .node-webform h2 {
	display:none !important;
}
#footer .region.region-footer-second .view-statistics-block .content {
	padding-right:10px;
}
#footer .region.region-footer-second p {
	font-size:1.5em;
	line-height:1.3em;
	margin-top: 0px;
}
#footer .region.region-footer-second .view-statistics-block h2 {
    display: block !important;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    line-height: 1em;
    margin-bottom: 5px;
    margin-top: 5px;
    pointer-events: none;
    text-transform:none;
}
#footer .view-statistics-block h4 {
    font-family:Myriad Pro,"Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif;
	display: block !important;
    font-size: 4em !important;
    font-weight: 600;
    line-height: .85em !important;
    margin-bottom: 0 !important;
    margin-top: 12px !important;
    pointer-events: none;
	opacity: 0.8 !important;
	color:#51a9e7;
	text-transform:none !important;
}
#footer .view.view-statistics-block .node-readmore {
	display:none;
}
#edit-submitted-feedback.form-textarea {
	height:60px;
	border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
}
#footer input.form-text {
	height:20px;
	width:96%;
}
#footer ul.links.inline li.node-readmore.first.last {
	padding-left:0;
}
#footer ul.links.inline li.node-readmore.first.last a {
	background: #00274c;
    box-shadow: 0 0px 0px #939da2;
    text-shadow: 0 0px 0px #ffffff;
	border-radius:8px;
    color: #fff;
    font-size: 0.85em;
    font-weight: normal;
    letter-spacing: 0.1em;
    padding: 4px 8px;
    text-transform: uppercase;
}
#footer div.links {
	text-align:left;
}
#footer-bottom {
    border-top: 4px solid #51a9e7 !important;
}
/*
#node-1492.node.node-statistic.node-teaser.contextual-links-region h2 a {
	color:#fff;
	font-size:2.3em;
}
*/
.copyright {
	font-size:.85em;
	line-height:1.4em;
	margin-bottom:12px;
}
#footer-bottom a:hover {
    color: #51a9e7 !important;	
}
/* Membership */
body.page-members .view-member-directory .views-row {
	border: 1px solid #ececec;
	border-radius: 8px;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-bottom: 10px;
}
body.page-members .view-member-directory .views-field.views-field-field-user-display-name {
	padding: 4px 8px;
	background-color: #ececec;
	font-weight: bold;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 1.2em;
}
body.page-members .views-field.views-field-field-user-profile-picture {
	float: left;
	padding: 10px;
}
body.page-members .views-field-field-user-profile-picture div.field-content a img {
	border-radius: 8px;
}
body.page-members .views-field.views-field-field-user-titles, body.page-members .views-field.views-field-field-user-address-organisation-name, body.page-members .views-field.views-field-mail, body.page-members .views-field.views-field-field-user-telephone, body.page-members .views-field.views-field-field-user-biography, body.page-members .views-field.views-field-field-user-subjects {
	margin: 8px 20px 4px 130px;
}
body.page-members .views-field.views-field-field-user-subjects {
	text-transform: uppercase;
	font-size: .85em;
	background: url("/sites/all/modules/custom/mcircc/images/info-icon.png") no-repeat scroll left 7px transparent;
	padding-left: 20px;
	padding-top: 6px;
	border-top: 1px solid #ececec;
	margin-top: 12px;
}
body.page-user .views-field-field-user-profile-picture div.field-content img {
	border-radius: 8px;
	width: 175px;
	float:left;
}
body.page-user .views-field-field-user-files, body.page-user .views-field-created, body.page-user .views-field-field-user-display-name, body.page-user .views-field-field-user-display-name, body.page-user .views-field-field-user-address-organisation-name {
	margin:8px 20px 4px 195px;
}

body.page-user .views-field-field-user-display-name div.field-content {
	color:#51a9e7;
}
body.page-user .views-field-field-user-display-name, body.page-user .views-field-field-user-files, body.page-user .views-field-field-user-address-organisation-name, body.page-user .views-field-field-user-telephone  {
	margin-bottom:0;
}
body.page-user .views-field-created {
	margin:0 20px 4px 195px;
	text-transform:	uppercase;
	font-size:.85em;
	letter-spacing:.1em;
}
body.page-user .views-field-field-user-titles, body.page-user .views-field-field-user-telephone, body.page-user .views-field-mail {
	margin:0 20px 0 195px;
}
body.page-user .views-field-field-user-titles div.field-content div.item-list ul li, body.page-user .views-field-field-user-subjects div.field-content div.item-list ul li, body.page-user .views-field-field-user-research-interests div.field-content div.item-list ul li {
	margin:0 20px 0 0;
	padding: 0 0 0 5px;
}
body.page-user .views-field-field-user-files span.views-label.views-label-field-user-files, body.page-user .views-field-field-user-display-name, body.page-user .views-field-field-user-biography {
	color: #00274c;
	font-weight:bold;
	font-size:1.2em;
}
body.page-user .views-field-field-user-biography {
	clear:both;
	margin-top:20px;
}
body.page-user .views-field-field-user-subjects, body.page-user .views-field-field-user-research-interests, body.page-user .views-field-field-user-classifications {
	margin:12px 20px 4px 0;
}
body.page-user .views-field.views-field-field-user-classifications span.views-label.views-label-field-user-classifications, body.page-user .views-field.views-field-field-user-research-interests span.views-label.views-label-field-user-research-interests, body.page-user .views-field.views-field-field-user-subjects span.views-label.views-label-field-user-subjects {
	text-transform:uppercase;
}
body.page-user .views-field-field-user-biography .field-content p {
	color:#7a7a7a;
	font-weight:normal;
	font-size:.8em;
	margin-bottom:0;
}
/* Left Sidebar */
#sidebar-first {
	margin-top:10px;
	width:28%;
}
#sidebar-first h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	color: #51a9e7;
	margin-bottom: 0;
}
#sidebar-first ul {
	list-style:none;
	margin-left:0;
}
#sidebar-first ul li {
	border-bottom: 1px dotted #e7e7e7;
	padding-top: 5px;
	padding-left:13px;
	margin-left:0;
	margin-right:20px;
	background: url("/sites/all/modules/custom/mcircc/images/yellow-bullet.png") no-repeat scroll 0 13px transparent;
}
#sidebar-first ul li ul {
	padding-left:10px;
}
#sidebar-first ul li ul li {
	border-bottom: 0px dotted #e7e7e7;
}
.region-sidebar-first .block .content, .region-sidebar-second .block .content {
    border: 0px solid #ffffff !important;
    border-radius: 0px !important;
    box-shadow: none !important;
	background-color:transparent !important;
	padding:0 10px 10px 0 !important;
	margin-bottom:30px !important;
}
/*
.date-display-single {
	font-size:.95em;
	color:#acacac;
}
*/
.region-sidebar-first ul.menu li.expanded > a, .region-sidebar-second ul.menu li.expanded > a {
	padding:0 !important;
}
/*
#sidebar-first .view-content .item-list ul {
	list-style:none;
	margin-left:0;
}
#sidebar-first .view-content .item-list ul li {
	margin-left:0;
	border-bottom: 1px solid #e7e7e7;
	padding-top: 5px !important;
	padding-left:0 !important;
}
.item-list ul {
	list-style:none;
	margin-left:0 !important;
}
.item-list ul li {
	padding-left:13px !important;
	margin-left:0;
	background: url("/sites/all/modules/custom/mcircc/images/yellow-bullet.png") no-repeat scroll 0 8px transparent;
}
.item-list ul li ul {
	padding-left:10px;
}
*/

/* Dashboard Flex Panel 3 Overall */
.panels-flexible-3 .panels-flexible-region .placeholder, .placeholder {
	font-size:.95em;
}
.panels-flexible-3 .panels-flexible-region ul {
	list-style:none;
	margin-left:0;
}
.panels-flexible-3 .panels-flexible-region ul li {
	margin-left:0;
	border-bottom: 1px solid #e7e7e7;
	padding-top: 5px !important;
	padding-left:0;
}
/* Dashboard Flex Panel 3 - Slideshow */
#views_slideshow_controls_text_featured_articles_slideshow-default.views-slideshow-controls-text.views_slideshow_controls_text {
	margin-top:4px;
	float:left;
}
#views_slideshow_slide_counter_featured_articles_slideshow-default.views-slideshow-slide-counter.views_slideshow_slide_counter {
	font-size:.95em;
	margin:0.4em 0 0 1em;
	float:left;
}
#views_slideshow_controls_text_previous_featured_articles_slideshow-default.views-slideshow-controls-text-previous.views_slideshow_controls_text_previous.views-slideshow-controls-text-previous-processed a {
    background-color: #ccc;
	border-bottom-left-radius:8px;
	border-top-left-radius:8px;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    padding: 2px 6px;
    text-transform: uppercase;
}
#views_slideshow_controls_text_pause_featured_articles_slideshow-default.views-slideshow-controls-text-pause.views_slideshow_controls_text_pause.views-slideshow-controls-text-status-play.views-slideshow-controls-text-pause-processed a, #views_slideshow_controls_text_pause_featured_articles_slideshow-default.views-slideshow-controls-text-pause.views_slideshow_controls_text_pause.views-slideshow-controls-text-pause-processed.views-slideshow-controls-text-status-pause a {
    background-color: #ccc;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    padding: 2px 6px;
    text-transform: uppercase;
}
#views_slideshow_controls_text_next_featured_articles_slideshow-default.views-slideshow-controls-text-next.views_slideshow_controls_text_next.views-slideshow-controls-text-next-processed a {
    background-color: #ccc;
	border-bottom-right-radius:8px;
	border-top-right-radius:8px;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    padding: 2px 6px;
    text-transform: uppercase;
}
#views_slideshow_controls_text_previous_featured_articles_slideshow-default.views-slideshow-controls-text-previous.views_slideshow_controls_text_previous.views-slideshow-controls-text-previous-processed a:hover,
#views_slideshow_controls_text_pause_featured_articles_slideshow-default.views-slideshow-controls-text-pause.views_slideshow_controls_text_pause.views-slideshow-controls-text-status-play.views-slideshow-controls-text-pause-processed a:hover,
#views_slideshow_controls_text_pause_featured_articles_slideshow-default.views-slideshow-controls-text-pause.views_slideshow_controls_text_pause.views-slideshow-controls-text-pause-processed.views-slideshow-controls-text-status-pause a:hover,
#views_slideshow_controls_text_next_featured_articles_slideshow-default.views-slideshow-controls-text-next.views_slideshow_controls_text_next.views-slideshow-controls-text-next-processed a:hover  {
    background-color: #51a9e7;
}
.views_slideshow_controls_text span:hover {
    text-decoration: none !important;
}
.views-slideshow-controls-bottom {
	height:21px;
	background: url("/sites/all/modules/custom/mcircc/images/slide-shadow.png") no-repeat scroll 0 0 transparent;
	padding: 4px 0 0;
	width:620px;	
}
/* Dashboard Flex Panel 3 Left - Dashboard News */
/*
.panels-flexible-3 .panels-flexible-region-inside.panels-flexible-region-inside-first {
	padding-right: 2em !important;
}
*/
ul.quicktabs-tabs li, ul.tabs.primary li a {
	background-color:#ececec !important;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	padding: 4px 6px !important;
	border-width:0;
}
ul.primary {
	border-bottom:1px solid #dadada !important;
	padding-left:0;
}
ul.quicktabs-tabs li.active.first, ul.quicktabs-tabs li.active, ul.quicktabs-tabs li.active.last, ul.tabs.primary li.active a.active {
	background-color:#51a9e7 !important;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	padding: 4px 8px;
	margin-left:0;
}
ul.quicktabs-tabs li.active.first a, ul.quicktabs-tabs li.active a, ul.quicktabs-tabs li.active.last a, ul.tabs.primary li.active a {
	color:#fff;
}
#quicktabs-container-dashboard_news {
	border:1px solid #dadada;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	border-top-right-radius:8px;
	background-color:#fff;
	min-height:300px;
	padding-top:15px;
}
#quicktabs-tabpage-dashboard_news-1 {
  border-bottom: 1px dotted #ccc;
  clear: both;
  margin: 0 5px 10px 10px;
  padding: 0 0 5px;
}

/* NEWS */
body.page-news .region-content {
	width:97%;
}
body.page-news .region-content .item-list ul {
	list-style:none;
	margin-bottom:0;
	margin-left:0;
}
body.page-news .region-content .item-list ul li, body.page-events .region-content div.view.view-events {
	margin-left:0;
	padding-left:90px;
}
body.page-news .region-content .field-type-image img, body.page-events .region-content .field-type-image img {
	position:absolute;
	float:left;
	margin-top:0;
	background:none !important;
	border:none !important;
	padding:0 !important;
	width:75px;
	height:75px;
	border-radius:4px;
	margin-left:-90px;
}
body.node-type-news .field-type-image img {
	margin-top:0;
	background:none !important;
	border:none !important;
	padding:0 !important;
	width:175px;
	height:175px;
	border-radius:4px;
	float:left;
}
body.node-type-event .field-type-image img {
	margin-top:0;
	background:none !important;
	border:none !important;
	padding:0 !important;
	width:175px;
	height:175px;
	border-radius:4px;
}
.sharethis-buttons {
	float:right;
}
body.page-news .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-label, body.node-type-news .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-label, body.page-events .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-label, body.node-type-events .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-label {
	clear:both;
	font-size: 0.85em;
	text-transform:uppercase;
	margin-bottom:10px;
}
body.page-news .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-items div.field-item.even, body.page-news .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-items div.field-item.odd, body.node-type-news .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-items div.field-item.even, body.node-type-news .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-items div.field-item.odd, body.page-events .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-items div.field-item.even, body.page-events .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-items div.field-item.odd, body.node-type-events .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-items div.field-item.even, body.node-type-events .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-inline.clearfix div.field-items div.field-item.odd {
	float:left;
	margin-right:8px;
	font-size: 0.85em;
	text-transform:uppercase;
}
body.page-news .region-content .submitted, body.page-news .region-content h2, body.page-events .region-content h2 {
	float: left;
	padding-right:20px;
	line-height:1.2em;
}
body.page-news .region-content .submitted {
	margin-bottom:10px;
	margin-top:0;
}
body.page-news .region-content .links {
	float: left;
	margin-left:0;
}
body.page-news .region-content .links ul.links, body.page-news .region-content .links ul.links li, body.page-events .region-content .links ul.links, body.page-events .region-content .links ul.links li {
	margin-left:0;
	padding-left:0;
	padding-top:0;
}
body.page-events .region-content .links ul.links.inline {
	float:left;
	margin-bottom:0;
	margin-top:0;
}
body.page-news .region-content .item-list ul li p {
	clear:both;
	margin-bottom:6px;
	line-height:1.3em;
}
body.page-events .region-content .field-type-datetime .field-label, body.page-events .region-content .field-type-timefield .field-label, body.page-events .region-content p, body.node-type-events .region-content .field-type-datetime .field-label, body.node-type-event .region-content .field-type-timefield .field-label, body.node-type-event .region-content p, .field-type-datetime, .field-type-timefield, .field-type-addressfield, .field-name-field-links.field-type-link-field.field-label-above div.field-label, .field-name-field-news-category.field-type-taxonomy-term-reference.field-label-above div.field-label {
	margin-top:6px;
	line-height:1.3em;
	clear:both;
}
body.page-events .region-content .field-type-datetime .field-label, body.page-events .region-content .field-type-timefield .field-label, .field-type-link-field .field-label, .field-name-field-news-category .field-label, .field-type-datetime.field-label-above .field-label, .field-type-timefield.field-label-above .field-label, .field-type-addressfield.field-label-above .field-label, .field-name-field-links.field-type-link-field.field-label-above div.field-label, .field-name-field-news-category.field-type-taxonomy-term-reference.field-label-above div.field-label {
	color:#525252;
}
body.page-events .region-content p {
	margin-bottom:6px;
}
#geofield-map-entity-node-3713-field-position.geofieldMap.geofield-processed-processed {
	clear:both;
	margin:20px 0;
}
body.page-events .region-content .views-row {
}
body.page-news a.feed-icon {
}
/*
body.page-news .links ul li a, body.page-news a.more, body.page-news #comments ul.links li a, body.page-news input[type="submit"], body.page-news input[type="reset"], input[type="button"] {
	background: #888 !important;
}
*/
body.page-news .region-content .node.node-teaser, body.page-events .region-content .node.node-teaser, body.page-files .region-content .node.node-teaser {
	border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-bottom: 10px;
}
#quicktabs-dashboard_news {
	margin: 25px 0 0;
}
#quicktabs-dashboard_news .content .view-content .item-list ul {
	padding:10px 10px 10px 0;
	list-style:none;
}
#quicktabs-dashboard_news .content .view-content .item-list ul li {
	padding:0 0 5px;
	margin:0 5px 10px 10px;
	border-bottom:1px dotted #ccc;
	clear: both;
}
#quicktabs-dashboard_news .content .view-content .item-list ul li .views-field-field-images img {
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  width:55px;
  height:55px;
  border-radius:4px;
}
#quicktabs-dashboard_news .content .view-content .item-list ul li a {
    color: #00274c;	
}
#quicktabs-dashboard_news .content .view-content .item-list ul li a:hover {
    color: #51a9e7;	
}
#quicktabs-dashboard_news .more-link {
    margin: 0 10px 10px 0;
}
#quicktabs-dashboard_news .more-link a {
    background-color: #888;
    border-radius: 8px;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 2px 6px;
    text-transform: uppercase;
}
#quicktabs-dashboard_news .more-link a:hover {
    background-color: #51a9e7;
}
/* Dashboard Flex Panel 3 Right - Activity Stream */
.panels-flexible-region-3-right h2.pane-title {
	margin-bottom:7px;
}
/* Forms */
.input-prompt {
  position: absolute;
  font-style: italic;
  color: #aaa;
  margin: 0.2em 0 0 0.5em;
}
/* Tables */
table th {
	background-color:#00274c !important;
	color:#ffffff !important;
	padding-left:4px !important;
	border:1px solid #00274c !important;
}
table th a.active {
	color:#fff;
}
.calendar-calendar th.days {
	color:#ffffff;
}
/* Files Listing */
.view-files .submitted, body.page-taxonomy .submitted {
  margin: 0em 0em 4px 0em;
}
/*
.view-files h2 {
  margin-bottom: 0em;
}
.view-files h2 a {
  color: #51a9e7;
}
*/
.view-files p {
  margin-bottom: 4px;
}
.view-files .field-name-field-files table thead {
  display: none;
}
.view-files .node.node-teaser {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #999;
}
.view-files table,
.view-files table tr,
.view-files table td {
  border: 0px;
}
.view-files tbody {
  border-top: 0px;
  border-bottom: 0px;
}
.view-files .views-exposed-widgets {
  margin-bottom: 2em;
  border-bottom: 1px dotted #666;
}
/* CALENDAR */
.calendar-calendar .month-view .full tr td.today, .calendar-calendar .month-view .full tr.odd td.today, .calendar-calendar .month-view .full tr.even td.today {
	border-left: 2px solid #51a9e7;
	border-right: 2px solid #51a9e7;
	color:#00274c;
	font-weight:bold;
}
.calendar-calendar .month-view .full td.date-box.today {
	border-color: #51a9e7;
}
.calendar-calendar .month-view .full tr td.single-day.today {
	border-bottom: 2px solid #51a9e7;
}
.calendar-calendar .month-view .full td.single-day .inner div, .calendar-calendar .month-view .full td.single-day .inner div a, .calendar-calendar .month-view .full td.multi-day .inner div, .calendar-calendar .month-view .full td.multi-day .inner div a, .calendar-calendar .month-view .full td .inner div.calendar.monthview div, .calendar-calendar .month-view .full td .inner div.calendar.monthview div a, .calendar-calendar .week-view .full td.single-day .inner div, .calendar-calendar .week-view .full td.single-day .inner div a, .calendar-calendar .week-view .full td.multi-day .inner div, .calendar-calendar .week-view .full td.multi-day .inner div a, .calendar-calendar .week-view .full td .inner div.calendar.weekview div, .calendar-calendar .week-view .full td .inner div.calendar.weekview div a, .calendar-calendar .day-view .full td .inner div.view-item, .calendar-calendar .day-view .full td .inner div.calendar div, .calendar-calendar .day-view .full td .inner div.calendar div a {
	line-height:1.2em;
}
.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview {
	background-color:#cbe5f8;
}
.calendar-calendar td.empty {
	color:#cccccc;
}

.node.node-news .content h3,
.node.node-event .content h3 {
  margin: 0em 0em 1em 0em;
}
.region-banner #block-mcircc-mcircc-user-welcome {
  text-align: center;
}
#block-menu-menu-main-menu-anonymous h2 {
  margin: 0em !important;
}
